@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background: #fff;
    font-family: "Mulish", sans-serif;
}

.brand {
    font-family: 'Poppins', sans-serif;
}

.background-paral {
    background-image: url('/images/background.jpg');
    background-position: right;
}

.bgbgbg {
    background-image: url('/images/bgbgbg.png');
    background-size: cover;
    opacity: 0.2;
}

.anim {
    animation: modal .3s ease-in-out;
}

@keyframes modal {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}